<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render '/layouts/shiv'%>
  </head>
  <body>
  <%= render 'layouts/header' %>
    <div class = "container">

      <% flash.each do |key, value| %>
        <div class="alert <%= bootstrap_class_for(key) %>"><%= value %></div>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer' %>
      <!-- debug: 開発環境のみで表示する -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>


</html>
